

body {
  padding: 0px;
  margin: 0px;
  height: 100%;

}

div {
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  box-sizing: border-box;
}

a { white-space: nowrap } 

#header {
  margin: 0px;
  padding: 0px;
  border: 1px solid;
  width: 100%;
  padding-left: 5%;
  margin-bottom: 3em;
}

#page {
  width: 90%;
  position: relative;
  left: 5%;
}

#footer {
  width: 100%;
  margin-top: 8em;
  padding: 0px;
  font-size: 80%;
}

#footerTable {
  width: 90%;
  position: relative;
  left: 5%;
}

#footerDiv {
  width: 90%;
  position: relative;
  left: 5%;
}

#headerText {
  margin: 0px;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
}

h5 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h4 {
  margin-top: 1.7em;
  margin-bottom: 0.8em;
}

h3 {
  margin-top: 2em;
}

hr {
  border-top-style: solid;
  border-top-width: 0.5px;
  border-right: none;
  border-left: none;
  border-bottom: none;
  clear: both;
}

.box {
  line-height: 2.4;
  border-style: solid;
  border-width: 0.5px;
  padding: 1.2em;
  padding-bottom: 1.0em;
  padding-top: 0.8em;
  width: 96%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1.8em;
}

table, th, td {
  border-width: 0.5px;
  border-style: solid;
}

td {
  padding: 0.4em;
}

td.mid {
  text-align: center;
}



#transcript_page_banner {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-bottom: 2.4em;
  z-index: 1;
}

#transcript_page_title {
  width: 90%;
  position: relative;
  left: 5%;
}

.yt_div {
  border-width: 0px;
  border-style: none;
  text-align: center;
  position: relative;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 1em;
}

.yt_iframe {
  vertical-align: bottom;
  height: 36vh;
  width: 64vh;
  border-width: 0px;
  border-style: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.transcript_div {
  border-width: 0px;
  border-style: none;
  position: relative;
  width: 90%;
  left: 5%;
  margin-top: 56vh;
}

.transcript_div br {
  margin-bottom: 1em;
}


@media (min-device-width: 480px) {
  /* For desktop: */

  .box {
    line-height: 1.8;
  }

  #header {
    padding-left: 20%;
  }

  #page {
    width: 60%;
    left: 20%;
  }

  #footerTable {
    width: 60%;
    left: 20%;
  }

  #footerDiv {
    width: 60%;
    left: 20%;
  }

  #footerFloatDivLeft {
    width: 40%;
    float: left;
    margin-right: 1%;
    text-align: left;
    vertical-align: top;
  }

  #footerFloatDivRight {
    width: 40%;
    float: right;
    margin-right: 1%;
    text-align: right;
    vertical-align: top;
  }

  .boxNarrow {
    width: 31%;
  }

  .boxWide {
    width: 65.5%;
  }

  .boxLeft {
    float: left;
    margin-right: 1%;
  }

  .boxRight {
    float: right;
    margin-left: 1%;
  }

  .boxMidRight {
    margin-right: 2.5%;
  }
  .boxMidLeft {
    margin-left: 2.5%;
  }

  #transcript_page_title {
    width: 60%;
    left: 20%;
  }

  .yt_div {
    width: 50%;
    text-align: left;
    padding-left: 5vw;
  }

  .yt_iframe {
    height: 23.9vw;
    width: 42.5vw;
  }

 .transcript_div {
  width: 66%;
  left: 57%;
  margin-top: 11.2em;
 }

}  /* End of desktop-only block */


