
html {
}

body {
font-family: san-serif;
font-size: 88%;
}

.header {
}

.page {
}

.footer {
font-size: 80%;
}

.footerTable {
}

.headerText {
font-size: 140%;
font-weight: bold;
}

h1 {
font-size:188%;
font-weight: bold;
}

h2 {
font-size:154%;
font-weight: bold;
text-decoration: underline;
}

h3 {
font-size:138%;
font-weight: bold;

}

h4 {
font-size:122%;
font-weight: normal;
text-decoration: underline;
}

h5 {
font-size:102%;
font-weight: bold;
}

hr {
}

.groceries_page em {
font-style: normal;
}

.transcript_text em {
font-style: normal;
}

.transcript_name {
font-weight: bold;
}