
body {
background: #ffffff;
}

.header {
color: #c3d1e1;
background: #eef6ff;
border-color: #eef6ff;
}

hr {
border-color: #eef6ff;
}

.box {
border-color: #c3d1e1;
background-clip: margin-box;
/* background-color: blue; */
}

.boxPageTitle {
color: #929da8;
}

table, th, td {
border-color: #c3d1e1;
}

em {
/* color: #6b1414; */
}

.groceries_page em {
color: #d62929;
}

.transcript_text em {
background-color: #f5edff ;
color: #5618a4;
}

.transcript_page_banner {
  background-image: linear-gradient(to bottom, 
                  rgba(255,255,255, 1) 96%, 
                  rgba(255,255,255, 0) 100%);
}

.localOnly {
  color: #b30030;
}

@media (min-device-width: 480px) {

  .transcript_page_banner {
    background-image: linear-gradient(to bottom, 
                      rgba(255,255,255, 1) 11.8em, 
                      rgba(255,255,255, 0) 12.3em);
  }

}